@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  gap: 15vw;
}

* {
  margin: 0%;
  border: 0%;
}

header {
  background-color: #FF6B35;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}
header h1 {
  color: antiquewhite;
}
header .enca {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header #btnmenu {
  background-color: antiquewhite;
  color: #FF6B35;
  border-radius: 10px;
}
header #menu {
  display: none;
  gap: 10px;
}
header #menu a {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 10px;
  color: #FF6B35;
  text-decoration: none;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vw;
}

#about_me {
  padding: 2% 30%;
}
#about_me h2 {
  display: flex;
  justify-content: center;
}
#about_me p {
  text-align: center;
}

#skills ul {
  padding-left: 0; /* Quita el espacio interno donde viven los puntos */
  margin-left: 0; /* Quita el margen externo (por si acaso) */
  list-style: none; /* Opcional: quita también los puntitos */
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 20px;
}
#skills li {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(8, 8, 8, 0.568);
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: rgb(166, 182, 196);
}
#skills li:hover {
  background-color: rgb(46, 99, 99);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  transform: scale(1.05);
}

h2 {
  text-align: center;
}

#proyects h2 {
  text-align: center;
}
#proyects ul {
  padding-left: 0; /* Quita el espacio interno donde viven los puntos */
  margin-left: 0; /* Quita el margen externo (por si acaso) */
  list-style: none; /* Opcional: quita también los puntitos */
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 10px;
}
#proyects ul li {
  border-radius: 10px;
  box-shadow: rgba(8, 8, 8, 0.568);
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
}
#proyects ul li a {
  padding: 2px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#proyects ul li {
  text-align: center;
  list-style: none;
  background-color: rgb(166, 182, 196);
  padding: 10px;
}
#proyects ul li:hover {
  background-color: rgb(46, 99, 99);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  transform: scale(1.05);
}

#contact form {
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.1764705882);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#contact form input {
  width: 300px;
  height: 35px;
}
#contact form button {
  width: 150px;
}

.galery {
  padding: 8%;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px 400px;
  gap: 20px;
}
.galery .card_1, .galery .card_2, .galery .card_3, .galery .card_4, .galery .card_5, .galery .card_6 {
  border-radius: 10px;
  background-color: rgb(166, 182, 196);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
}
.galery .card_1 img, .galery .card_2 img, .galery .card_3 img, .galery .card_4 img, .galery .card_5 img, .galery .card_6 img {
  object-fit: cover;
  height: 300px;
}
.galery .card_1 h3, .galery .card_1 p, .galery .card_2 h3, .galery .card_2 p, .galery .card_3 h3, .galery .card_3 p, .galery .card_4 h3, .galery .card_4 p, .galery .card_5 h3, .galery .card_5 p, .galery .card_6 h3, .galery .card_6 p {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  color: rgb(255, 255, 255);
}
.galery .card_1:hover, .galery .card_2:hover, .galery .card_3:hover, .galery .card_4:hover, .galery .card_5:hover, .galery .card_6:hover {
  background-color: rgb(46, 99, 99);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
